body {
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.btn-group{
}
.btn-group #closebtn:hover{
    background-color: red;
}
.btn-group #changeBg1:hover{
    background-color: green;
}
.btn-group #whiteBg:hover{
    background-color: grey;
}
#top-btns{
    width: 100%;
}